<div class = "container">
  <!-- <div class="row">
    <div class="col-xs-12">
     <ul *ngFor="let image of Imagearray">
       <li>
         <img src ="{{image.images.downsized_large.url}}" >
         <p>{{image.username}}</p>
       </li>
     </ul>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-3" *ngFor="let image of Imagearray" style="overflow: hidden;">
      <img src ="{{image.images.downsized_large.url}}" >
      <p>{{image.username}}</p>
    </div>
  </div>
</div>  -->







<!-- Header -->
<div class="header">
  <h1>Responsive Image Grid</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column"  *ngFor="let image of Imagearray">
    <img src="{{image.images.downsized_large.url}}" style="width:100%">
  </div>
  <div class="column">
    <img src="{{image.images.downsized_large.url}}" style="width:100%">
  </div>  
  <div class="column">
    <img src="{{image.images.downsized_large.url}}" style="width:100%">
  </div>
  <div class="column">
    <img src="{{image.images.downsized_large.url}}" style="width:100%">
  </div>
</div>



